* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

body {
    box-sizing: border-box;
    width: 100%;
    background-color: #2C2C2C;
    color: #2C2C2C;
}

.containerHomePage {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.topnav {
    overflow: hidden;
    background-color: #2C2C2C;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav a {
    /* float: left; */
    color: #FAC70C;
    text-align: left;
    padding: 40px 20px;
    font-size: 15px;
    font-family: Montserrat;
    text-decoration: none;
}

.signOut {
    display: flex;
}

.input-fail {
    border: 1px solid red;
    display: flex;
}

.input-fail{
    border: 1px solid red;
    display: flex;
}

.logo {
    float: left;
    width: 95px;
    height: 95px;
    margin-left: 50px;
    margin-top: 3px;
}

.header-right {
    float: left;
    display: flex;
}

.header-left {
    align-items: center;
    display: flex;
}

.search {
    width: auto;
    position: relative;
    display: flex;
    color: #2C2C2C;
    border-bottom-style: dashed;
    border-style: solid;
    margin-right: 5%;
}

.searchTerm {
    width: auto;
    border: 1px solid;
    border-right: none;
    padding: 5px;
    padding-right: 0em;
    height: 30px;
    border-radius: 20px 0px 0px 20px;
    outline: none;
    background-color: #2C2C2C;
    border-color: white;
    font-family: Montserrat;
    font-size: 18px;
    width: 100px;
    transition: width 2s ease-in-out;
}

.searchTerm:focus {
    color: white;
    width: 300px;
}

.searchButton {
    width: auto;
    height: auto;
    padding: 5px;
    border: 1px solid white;
    border-left: none;
    margin-left: 0em;
    border-color: white;
    background: #2C2C2C;
    text-align: center;
    color: white;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
    font-size: 18px;
}

.posterDiv {
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}

.text-not-log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-log {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poster {
    margin-top: 10px;
    width: 100%;
    height: 650px;
    padding: 0px;
}

.text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -90%);
    font-family: 'Roboto Slab', serif;
    font-size: large;
}

.signUpBtn {
    width: 180px;
    height: 50px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    color: black;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 30px;
}

.signUpBtn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 30px;
}

.signUpBtn:active {
    color: #000
}

.signUpBtn:active:after {
    background: transparent;
}

.signUpBtn:hover:before {
    opacity: 1;
}

.signUpBtn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FAC70C;
    left: 0;
    top: 0;
    border-radius: 30px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.latestMovies {
    display: flex;
    justify-content: space-around;
    background-color: #2C2C2C;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
    padding: 10px 0px 10px 0px;
}

.latestMovieElement {
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-around;
    flex-basis: 20%;
    height: 450px;
}

.topRatedMovies {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E30B1A;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

a>img {
    height: 450px;
}

.headerLatestMovies {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #606060;
}

.headertopRatedMovies {
    margin-top: 10px;
    padding: 20px;
    background-color: #E30B1A;
}

.colorRed {
    height: 10px;
    width: 60px;
    background-color: #E30B1A;
}

.colorYellow {
    height: 10px;
    width: 60px;
    background-color: #FAC70C;
}

h2 {
    color: white;
    font-family: Montserrat;
    text-align: left;
}

.footer {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #606060;
}

#banda-svg {
    width: 100%;
}

.headerAllMovies {
    margin-top: 10px;
    padding: 20px;
    background-color: #fac70c;
}

.containerAllMovies {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#allMovies {
    display: flex;
    justify-content: center;
}

.paginationBtn {
    background-color: #050E11;
    height: 40px;
    width: 30px;
    color: wheat;
    font-size: xx-large;
}

.paginationBtn {
    background-color: #fac70c;
    border-radius: 42px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    color: #ffffff;
    font-family: Arial;
    font-size: xxx-large;
    font-weight: bold;
    padding: 35px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.paginationBtn:hover {
    background-color: #e30b1a;
}

.paginationBtn:active {
    position: relative;
    top: 1px;
}

@media only screen and (min-width: 768px) {
    .containerHomePage {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .poster {
        height: auto;
    }

    .topnav {
        height: auto;
    }
}

@media only screen and (min-width: 1000px) {
    .containerHomePage {
        width: 1000px;
    }

    .poster {
        height: auto;
    }

    .topnav {
        height: auto;
    }
}

.movieDetails {
    display: flex;
}

.movieFields {
    margin-top: 2%;
    margin-left: 15%;
    text-align: center;
    font-size: 1.5vw;
    color: #FAC70C;
    font-weight: bold;
    width: 50%;
}

.movieFields p {
    display: inline-block;
    padding-bottom: 1%;
}

.editForm {
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2vw;
    overflow: hidden;
    text-overflow: clip;
    color: #FAC70C;
    font-weight: bold;
    border: 3px solid #FAC70C;
    width: 50%;
}

.editForm input {
    width: 100%;
    display: flex;
    height: 30px;
    font-weight: bold;
    font-size: 2vw;
    color: red;
}

.editButton,
.deleteButton,
.updateButton,
.cancelButton {
    width: 180px;
    height: 50px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 30px;
    background-color: #FAC70C;
}

.reviewsMovies {
    margin-top: 10px;
    padding: 20px;
    background-color: #606060;
}

.reviewCards {
    padding: 40px 0;
    background: #f1f1f1;
    color: black;
    text-align: center;
}

.inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border {
    width: 160px;
    height: 5px;
    background: #E30B1A;
    margin: 26px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.reviewCard {
    background: #FAC70C;
    padding: 30px;
    border-style: double;
    border-color: #E30B1A;
}

.reviewCard img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: double;
    border-color: #E30B1A;
}

.name {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0;
}

.stars {
    color: #E30B1A;
    margin-bottom: 20px;
}

.reviewCards {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #2C2C2C;
}

ul {
    list-style: none;
    padding-left: 0;
}

footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
}

footer a {
    text-decoration: none;
    color: #eee;
}

a:hover {
    text-decoration: underline;
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}

.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
}

.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}

.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}

::-webkit-scrollbar {
    width: 25px;
}

::-webkit-scrollbar-track {
    border: 7px solid #2C2C2C;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #FAC70C, #FAC70C, #FAC70C, #FAC70C, #FAC70C, #FAC70C, #FAC70C);
    border-radius: 3px;
}